body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

    line-height: 1.6;
    font-size: 21px;
    color: #878787;
}

@media (max-width: 600px) {
    body{
        font-size: 18px;
    }
}

.background-image {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;    
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(media/background.jpg);
}

.centered-box {
    margin: auto;
    max-width: 600px;
}

.portrait-picture {
    grid-area: portrait;
}

.portrait-picture img {
    border-radius: 8px;
    width: 100%;
}

.header-title {
    grid-area: title;
    font-size: 42px;
}

@media (max-width: 600px) {
    .header-title {
        font-size: 32px;
    }
}

.header-subtitle {
    grid-area: subtitle;
}

.intro-container {
    padding-top: 35%;
    display: grid;
    place-items: center;
    grid-template-columns: auto 35%;
    grid-template-areas:
        "title portrait"
        "subtitle portrait";
    gap: 10px;
    padding-bottom: 400px;
    color: #6f706f;
}

@media (max-width: 600px) {
    .intro-container {
        grid-template-columns: auto;
        grid-template-areas:
            "portrait"
            "title"
            "subtitle";
    }
}

.list-container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.section-title {
    font-size: 36px;
    color: #6f706f;
}

@media (max-width: 600px) {
    .section-title {
        font-size: 32px;
    }
}

.content-container {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas:
        "experience-picture experience-title"
        "experience-picture experience-text";
    column-gap: 30px;
    width: min(600px, 100%);
}

@media (max-width: 600px) {
    .content-container {
        grid-template-columns: auto;
        grid-template-areas: 
        "experience-picture"
        "experience-title"
        "experience-text";
    }
}

.experience-picture {
    grid-area: experience-picture;
    display: block;
    margin-left: auto;
    margin-right: calc(150px - 100%);
    width: max(150px, 100%);
}
@media (max-width: 600px) {
    .experience-picture  {
        margin-right: auto;
    }
}

details:not([open]) + .experience-picture {
    width: max(75px, 50%);
    margin-right: 0;
}


@media (max-width: 600px) {
    details:not([open]) + .experience-picture {
        margin-right: auto;
        margin-left: auto;
    }
}

details[open] + .experience-picture {
  animation: grow-experience-picture .15s ease-in;
}


@keyframes grow-experience-picture {
    0% {
        align: right;
        width: 50%;
        margin-right: 0;
    }
    100% {
        align: right;
        width: 100%;
        margin-right: 0;
    }
}
  
@media (max-width: 600px) {
    @keyframes grow-experience-picture {
        0% {
            width: 50%;
            margin-right: auto;
        }
        100% {
            width: 80%;
            margin-right: auto;
        }
    }
}

.experience-picture img {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.experience-title {
    grid-area: experience-title;
}

@media (max-width: 600px) {
    .experience-title {
        margin-left: 20px;
        margin-right: 20px;
    }
}

.experience-text {
    grid-area: experience-text;
    display: block;
    min-height: 80px;
}

@media (max-width: 600px) {
    .experience-text {
        margin-left: 20px;
        margin-right: 20px;
    }
}

a.link-title {
    text-decoration: none;
}

a.link-title:link, a.link-title:visited{
    color: #4d61e2;
}

a.link-title:hover, a.link-title:active{
    color: #639af2;
}


a.link-bright {
    text-decoration: none;
}

a.link-bright:link, a.link-bright:visited{
    color: #93c7ea;
}

a.link-bright:hover, a.link-bright:active{
    color: #bfddf2;
}

.emphasis-text {
    font-style: italic;
}

.footer-container {
    padding-top: 200px;
}