body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

    margin: 40px auto;
    max-width: 40%;
    line-height: 1.6;
    font-size: 21px;
    color: #444;
    padding: 0 10px;
    initial;
}


.portrait-picture {
    grid-area: portrait;
}

.portrait-picture img {
    border-radius: 8px;
    width: 100%;
}

.header-title {
    grid-area: title;
    font-size: 48px;
}

.header-subtitle {
    grid-area: subtitle;
}

.intro-container {
    display: grid;
    place-items: center;
    grid-template-columns: auto 45%;
    grid-template-areas:
        "title portrait"
        "subtitle portrait";
    gap: 10px;
    padding-bottom: 20px;
}

.list-container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.section-title {
    font-size: 36px;
}

.content-container {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas:
        "experience-picture experience-title"
        "experience-picture experience-text";
    column-gap: 30px;
}

.experience-picture {
    grid-area: experience-picture;
    margin-left: auto;
    margin-right: auto;
}

.experience-picture img {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.experience-title {
    grid-area: experience-title;
}

.experience-text {
    grid-area: experience-text;
}

.link-title {
    text-decoration: none;
}

.link-title a:link {
    color: aqua;
}

.link-title a:visited {
    color: aqua;
}
.link-title a:hover {
    color: aqua;
}
.link-title a:active {
    color: aqua;
}
