body {
    font-family: 'Helvetica Neue',
        Helvetica,
        Arial,
        sans-serif;

    margin: 40px auto;
    max-width: 40%;
    line-height: 1.6;
    font-size: 21px;
    color: #878787;
    padding: 0 10px;
}

.portrait-picture {
    grid-area: portrait;
}

.portrait-picture img {
    border-radius: 8px;
    width: 100%;
}

.header-title {
    grid-area: title;
    font-size: 42px;
    color: #6f706f;
}

.header-subtitle {
    grid-area: subtitle;
}

.intro-container {
    display: grid;
    place-items: center;
    grid-template-columns: auto 35%;
    grid-template-areas:
        "title portrait"
        "subtitle portrait";
    gap: 10px;
    padding-bottom: 20px;
}

.list-container {
    display: grid;
    place-items: center;
    gap: 20px;
}

.section-title {
    font-size: 36px;
    color: #6f706f;
}

.content-container {
    display: grid;
    grid-template-columns: 25% auto;
    grid-template-areas:
        "experience-picture experience-title"
        "experience-picture experience-subtitle"
        "experience-picture experience-text";
    column-gap: 30px;
}

.experience-picture {
    grid-area: experience-picture;
    margin-left: auto;
    margin-right: auto;
}

.experience-picture img {
    margin-top: 10px;
    border-radius: 8px;
    width: 100%;
}

.experience-title {
    grid-area: experience-title;
}

.experience-subtitle {
    grid-area: experience-subtitle;
    font-size: 18px;
}
.experience-text {
    margin-top: 10px;
    grid-area: experience-text;
}

a.link-title {
    text-decoration: none;
}

a.link-title:link, a.link-title:visited{
    color: #4d61e2;
}

a.link-title:hover, a.link-title:active{
    color: #639af2;
}

.emphasis-text {
    font-style: italic;
}
